html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, Helvetica Neue, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    color: #888;
    height: 100%;
}

html {
    overflow-x: hidden
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
    width: 64%;
    margin: auto;
}

#__next {
    width: 100%;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.centered {
    width: 100%;
    display: inline-block;
    text-align: center
}


.hr-divider {
    padding-top: 3em;
    padding-bottom: 2em;
}


.contact-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.contact-btn::before {
    position: absolute;
    color: #0a66c2;
    top: 8px;
    left: 16px;
    text-align: left;
    display: inline;
    content: "\f08c";
    font: normal normal normal 24px/1 FontAwesome;
    bottom: 0;
    z-index: 1;
}

.contact-btn:hover {
    color: #000 !important;
    background-color: #ccc !important
}

.footer-links-section {
    margin-top: 16px !important;
    margin-bottom: 16px !important
}

.font-awesome-link {
    color: inherit
}

.font-awesome-link::before {
    padding-left: 32px;
}

.banner-text {
    font-size: 42px;
    font-weight: 600;
    letter-spacing: 4px
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  .bg-white,
  .bg-hover-white:hover {
      color:#000!important;background-color:#fff!important
  }
  
  .link-button {
      border:none;
      display:inline-block;
      padding:8px 16px;
      vertical-align:middle;
      overflow:hidden;
      text-decoration:none;
      color:darkgreen;
      background-color:inherit;
      text-align:center;
      cursor:pointer;
      white-space:nowrap
  }
  
  /* First image (Logo. Full height) */
  .bgimg-1 {
    background-image: url('/images/background1.jpg');
    min-height: 100%;
  }
  
  /* Second image (Portfolio) */
  .bgimg-2 {
    background-image: url("/images/background2.jpg");
    min-height: 400px;
  }
  
  /* Third image (Contact) */
  .bgimg-3 {
    background-image: url("/images/background3.jpg");
    min-height: 400px;
  }
  
  .w3-wide {letter-spacing: 10px;}
  .w3-hover-opacity {cursor: pointer;}
  